/** for desktop */
@media (min-width: 801px) {
    #calculator-background {
        border-radius: 1em;
        /*background: linear-gradient(45deg, rgba(0,0,0,1) 30%, rgba(255,232,191,1) 100%);*/
        background: #181818;
        margin-left: 33vw;
        /*margin-left: calc((100vw - 32em) / 2);*/
        margin-top: 2.4vw;
        width: 32em;
        height: 42em;
        outline: 0.2vw solid white;
    }
    #calculator-inside-box {
        border-radius: 1em;
        /*background: linear-gradient(-45deg, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 42%, rgba(255,232,191,1) 100%);*/
        /*background: linear-gradient(to top, rgba(0,0,0,1) 30%, rgba(255,232,191,1) 100%);*/
        margin-left: 1vw;
        margin: 1vw;
        /*width: calc(100% - 2vw);*/
        height: calc(100% - 2vw);
        padding-top: 0.4vw;
        width: 30vw;
        /*height: 38vw;*/
        /*outline: 0.1vw solid white;*/
    }
    #calculator-top-box {
        /*border-radius: 0.2em;*/
        border-radius: 0.08em;
        /*background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(65,65,65,1) 100%);*/
        background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(20,20,20,1) 51%, rgba(65,65,65,1) 100%);
        margin-left: 1vw;
        padding-right: 0.22em;
        padding-top: 0.2vw;
        /*width: calc(41.3vw);*/
        width: 28vw;
        height: 7vw;
        text-align: right;
        font-size: 5em;
        color: white;
        outline: 0.001vw solid white;
    }
    #calculator-gray-buttons-box {
        /*border-radius: 0.2em;*/
        border-radius: 0.08em;
        background-color: rgba(50,50,50,1);
        margin-left: 1vw;
        margin-top: 1vw;
        width: 29.2vw;
        /*height: 32vw;*/
        /*width: calc(100% - 42.7vw);*/
        height: calc(100% - 11vw);
        font-size: 5em;
        outline: 0.0001vw solid white;
    }
    #calculator-buttons-holder { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0.1em;
        padding-top: 0.2em;
        padding-left: 0.3em;
    }
    .calculator-buttons {
        border-radius: 0.1em;
        background: linear-gradient(0deg, rgba(50,50,50,1) 60%, rgba(50,50,50,1) 61%, rgba(100,100,100,1) 20%);
        background-position: left top;
        background-repeat: repeat;
        width: 1.2em;
        height: 1.2em;
        font-size: 0.8em;
        color: whitesmoke;
        text-align: center;
        box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.8);
        outline: 0.001em solid whitesmoke;
    }
}

/** for mobile */
@media (max-width: 800px) {
    #calculator-background {
        border-radius: 1em;
        background: #181818;
        width: 96vw;
        height: 98vh;
        margin: 1vw auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: 0.2vw solid white;
    }
    #calculator-inside-box {
        border-radius: 1em;
        margin: 1em;
        width: 22em;
        height: 38em;
    }
    #calculator-top-box {
        /*border-radius: 0.2em;*/
        border-radius: 0.08em;
        /*background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(65,65,65,1) 100%);*/
        background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(20,20,20,1) 51%, rgba(65,65,65,1) 100%);
        padding-right: 0.1em;
        width: 5.4em;
        height: 1.1em;
        text-align: right;
        font-size: 4em;
        color: white;
        outline: 0.001vw solid white;
    }
    #calculator-gray-buttons-box {
        /*border-radius: 0.2em;*/
        border-radius: 0.08em;
        background-color: rgba(50,50,50,1);
        margin-top: 0.2em;
        width: 4.4em;
        height: 6.3em;
        font-size: 5em;
        outline: 0.0001vw solid white;
    }
    #calculator-buttons-holder { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 0.25em;
        padding-left: 0.15em;
    }
    .calculator-buttons {
        border-radius: 0.1em;
        background: linear-gradient(0deg, rgba(50,50,50,1) 60%, rgba(50,50,50,1) 61%, rgba(100,100,100,1) 20%);
        background-position: left top;
        background-repeat: repeat;
        width: 1.2em;
        height: 1.2em;
        font-size: 0.75em;
        color: whitesmoke;
        text-align: center;
        box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.8);
        outline: 0.001em solid whitesmoke;
    }
    .mobile-space {
        background-color: rgba(50,50,50,1);
        margin-top: 1.5vw;
    }
}