#newShape {
    text-shadow: 200ch;
    text-align: center;
    background: linear-gradient(-45deg, rgba(209,94,255,1) 14%, rgba(0,219,255,1) 100%);
    padding-top: 0.8%;
    padding-left: 1.6%;
    padding-bottom: 0.6%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
#newShape1 {
    text-shadow: 200ch;
    text-align: center;
    background: linear-gradient(-45deg, rgba(209,94,255,1) 14%, rgba(0,219,255,1) 100%);
    padding-top: 1.5%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0%;
    height: 0.8%;
    padding-left: 2%;
    padding-bottom: 1.5%;
}
#newShapeGallery {
    text-shadow: 200ch;
    text-align: center;
    background: linear-gradient(-45deg, rgba(209,94,255,1) 14%, rgba(0,219,255,1) 100%);
    padding-top: 0.8%;
    height: 4vw;
    width: 50vw;
    margin-left: 23.5vw;
}
#newShapePreviousNext {
    text-shadow: 200ch;
    text-align: center;
    padding-top: 0.8vw;
    height: 2.4vw;
    width: 12vw;
    margin-left: 13vw;
    background: linear-gradient(90deg, rgba(209,94,255,1) 14%, rgba(0,219,255,1) 100%);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3vw;
    color: white;
    outline: 0.2vw solid white;
    padding-bottom: 1vw;
}
#top-bar {
    color: #c261ff;
    background-color: black;
    width: 116%;
    height: 4%;
    font-weight: bold;
    font-size: 1.16vw;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    text-align: center;
    align-self: center;
}
#paragraphAboutMe {
    font-size: 4.5vw;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    padding-bottom: 60%;
}
#paragraph1 {
    font-size: 4.5vw;
    font-weight: bold;
    font-style: italic;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    line-height: 110%;
}
#paragraph2 {
    font-size: 1.43vw;
    font-style: italic;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#paragraph3 {
    font-size: 1.15vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 16%;
    color: black;
}
.white-rectangle {
    background-color: #ffffff;
    outline: 0.2vw solid black;
    height: 98%;
    width: 100.5%;
}
.white-rectangle1 {
    background-color: #ffffff;
    outline: 0.2vw solid black;
    height: 9%;
    width: 98%;
    align-self: center;
}
.white-rectangle-gallery {
    background-color: #ffffff;
    outline: 0.2vw solid black;
    height: 2.5vw;
    width: 48vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}
.personal-image {
    width: 73%;
    position: relative;
    right: 0%;
}
.main-photo {
    width: 36vw;
    margin-top: 5vw;
    margin-left: 2vw;
    outline: 0.4vw solid white;
}
.left-photo {
    width: 18vw;
    margin-top: 14vw;
    margin-left: 14vw;
    outline: 0.4vw solid white;
}
.right-photo {
    width: 18vw;
    margin-top: 14vw;
    margin-left: 2vw;
    outline: 0.4vw solid white;
}